

#root {
  height: 100%;
  background: black;
}

body {
  margin: 0;
  background: black;
}

.MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 5px;
}

.MuiInputBase-root-MuiOutlinedInput-root {
  color: white;
}
